{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended"
    ],
    "parserOptions": {
        "ecmaVersion": "latest",
        "sourceType": "module"
    },
    "plugins": [],
    "rules": {
        "object-curly-spacing": "off",
        "no-constant-condition": "off",
        "no-unused-vars": "off",
        "eol-last": ["warn", "always"]
    },
    "ignorePatterns": [],
    "globals": {
        "__DEV__": true
    }
}
